<div class="row"><h4>PIPE -</h4>
    <div class="col-3">
        courseName => {{courseName}}
        <br>
        UpperCase => {{courseName | uppercase}}
    </div>
     <div class="col-3">
        courseName => {{courseName}}
        <br>
       LowerCase => {{courseName | lowercase}}
    </div>
    <div class="col-3">
        studentObj => {{studentObj}}
        <br>
        studentObj => {{studentObj | json}}
    </div>
</div><br>  
<div class="row">
    <div class="col-3">
        currentDate => {{currentDate}}
        <br>
        currentDate => {{currentDate | date }}
    </div>
     <div class="col-3">
        currentDate => {{currentDate}}
        <br>
        currentDate => {{currentDate | date: 'dd-MMM-yyyy' }}
    </div>
</div>


<div class="row" style="padding-top: 8rem;"><h4>NgFor -</h4>
    <div class="col-2">
        <ul>
            <li *ngFor="let city of cityList">{{city}}</li>
        </ul>
    </div>
    <div class="col-5" style="padding-top: 5px;">
        <button *ngFor="let cityName of cityList" class="btn btn-success mx-1">
            {{cityName}}
        </button>
    </div>
    <div class="col-3">
        <div *ngFor="let city of cityList">
            <span>{{city}}</span>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-3">
        <select> 
            <option *ngFor="let emp of employeeArray" [value]="emp.empId">
                {{emp.name}} - {{emp.city}}
            </option>
        </select>
    </div>
    <div class="col-5">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Sr No</th>
                    <th>Name</th>
                    <th>City</th>
                    <th>Contact No.</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let emp of employeeArray; let srno=index">
                    <td>{{srno+1}}</td>
                    <td>{{emp.name | notAvailable }}</td>     <!-- customPipe -->
                    <td>{{emp.city | uppercase}}</td>
                    <td>{{emp.contactNo}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
