<div class="row pt-4">
    <div class="col-3 p-4" [ngStyle]="{'background-color':div1BackColor, 'color':'white'}">
    Div 1
    </div>
    <div class="col-3 p-4" [ngStyle]="{'background-color': isChecked == true?'teal':'blue'}">
        Div 2
    </div>
    <div class="col-3" [ngStyle]="myCss">
        Div 3
    </div>
</div>
<div class="row pt-4">
    <div class="col-3">
      <button style="margin: 8px;" class="btn btn-success" (click)="addDiv1Color('green')">Green</button>
      <button class="btn btn-secondary" (click)="addDiv1Color('grey')">grey</button>
    </div>
    <div class="col-3">
        <input type="checkbox" [(ngModel)]="isChecked">
    </div>
</div>